<h1>Listing v</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      
      <td><%= link_to 'Edit', "http://localhost:3000/categories/edit" %></td>
      <td><%= link_to 'Destroy', category_path(category),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      
    </tr>
  <% end %>
</table>

<p> <%= link_to 'My Blog', controller: 'categories' %></p>
<p> <%= link_to 'New Article', "http://localhost:3000/categories/new" %></p>
<p> <%= link_to 'Back', "http://localhost:3000/categories" %></p>